<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NPL Evaluator</title>
    </head>

    <body>
        <main>
            <section>
				<input id="MyURL" type="text" name="input" value="" placeholder="Type your URL here .....">
                <button type="button"  onclick="return Client.NlpHandlerFunction(event)">Check</button>
            </section>

            <section>
                <strong>Result of applying NLP on your URL </strong>
                <div id="NlpResult"></div>
            </section>
        </main>

    </body>
</html>
